#user_profile {
  margin-top: 100px;
  padding: 0px 30px;
  position: relative;
  button{
    border: none;
    width: 40px;
    height: 40px;
    background-color: #65659a;
border-radius: 10px;
  }
  .add_icon {
font-size: 26px;
    border-radius: 10px;
    color: white;
    border: none;
  }
  .modal {
    position: absolute;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    top: 100px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    .add-button {
      background-color: #d7cced;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .file-input-text {
      margin-top: 50px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
      flex-grow: 1;
    }

    .file-input-container {
      position: relative;
    }

    .input-file {
      display: none;
    }

    .file-label {
      background-color: #d7cced;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      transition: 0.5s;
    }

    .file-label:hover {
      background-color: #c6b5e9;
    }

    /* Additional styles for selected file display */
    p {
      margin-top: 10px;
    }
  }
  .container {
    .user_profile {
      .user_profile_up {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        .user_profile_back_img {
          position: relative;
          width: 100%;
          border-radius: 6px;
          overflow: hidden;
          img {
            width: 100%;
          }
          .user_profile_picture {
            position: absolute;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid white;
            left: 30px;
            bottom: 80px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .user_profile_up_about {
          li:first-child {
            font-size: 22px;
            font-weight: 600;
          }
          padding: 15px 50px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 50px;
          background-color: white;
          li {
            sup {
              padding: 1px 12px;
              border: 1px solid gray;
              border-radius: 4px;
            }
          }
        }
      }
      .user_profile_down {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .posts {
          .posts_length {
            width: 100%;
            border-radius: 4px;
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            gap: 50px;
            align-items: center;
            .add {
              padding: 10px 12px;
              background-color: #65659a;
              color: whitesmoke;
              border-radius: 6px;
              cursor: pointer;
            }
            p {
              font-size: 18px;
            }
            sup {
              background-color: #65659a;
              border-radius: 50%;
              padding: 3px 8px;
              color: white;
            }
          }
        }
        .post-cards {
          border-radius: 4px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          background-color: white;
          padding: 20px;
          gap: 10px;
          @media (max-width: 767px) {
            grid-template-columns: 1fr 1fr 1fr;
          }
          @media (max-width: 545px) {
            grid-template-columns: 1fr 1fr;
          }
          @media (max-width: 463px) {
            grid-template-columns: 1fr;
          }
          .post_card {
            transition: 0.5s;
            position: relative;
            cursor: pointer;
            &:hover {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.222);
              }
            }
            .post {
              width: 200px;
              height: 200px;
              gap: 6px;
              overflow: hidden;
              border-radius: 6px;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// Reponsive=-=-==-==--=
@media (max-width: 992px) {
  #user_profile {
    .container {
      .user_profile {
        .user_profile_up {
          .user_profile_back_img {
            img {
            }
            .user_profile_picture {
              width: 100px;
              height: 100px;
              bottom: 50px;
            }
          }
        }
        .user_profile_up_about {
        }
      }
      .user_profile_down {
        .posts {
          .posts_length {
            p {
            }
            sup {
            }
          }
        }
        .post-cards {
          display: none;

          .post_card {
          }
        }
        .post {
          img {
          }
        }
      }
    }
  }
}

@media (max-width: 545px) {
  #user_profile {
    .container {
      .user_profile {
        .user_profile_up {
          .user_profile_back_img {
            img {
            }
            .user_profile_picture {
              width: 70px;
              height: 70px;
              bottom: 10px;
            }
          }
        }
        .user_profile_up_about {
        }
      }
      .user_profile_down {
        .posts {
          .posts_length {
            p {
            }
            sup {
            }
          }
        }
        .post-cards {
          .post_card {
          }
        }
        .post {
          img {
          }
        }
      }
    }
  }
}
