#user_profile {
  margin-top: 100px;
  padding: 0px 30px;
  position: relative;
  .stories {
    padding: 20px;
    position: fixed;
    gap: 20px;
    top: 50%;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 800px;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
.trash_icon{
  margin-top: 10px;
  cursor: pointer;
}
    .icon {
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    .storie {
      .storie_img {
        height: 200px;
        width: 200px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .post_dots {
    position: absolute;
    top: 8px;
    font-size: 20px;
    right: 40px;
  }
  .MuiButtonBase-root {
    background-color: #3e6c7b;
  }
  .postx {
    position: absolute;
    right: 6px;
    font-size: 24px;
    top: 6px;
    color: red;
  }
  .user_comments {
    .user {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    button {
      margin-bottom: 10px;
      font-weight: 700;
      color: white;
    }
    .comment {
      background-color: whitesmoke;
      padding: 10px;
      margin-top: 10px;
      border-radius: 10px;
      margin-bottom: 10px;

      p {
        word-break: break-all;
      }
    }
    .user_picture {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .followings_modal {
    padding: 20px;
    max-width: 600px;
    position: fixed;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: whitesmoke;
    height: 500px;
    overflow-y: scroll;
    z-index: 10;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    .title {
      p {
        text-align: center;
        font-size: 20px;
        font-family: "Salsa", cursive;
        margin-bottom: 20px;
      }
    }
    .following {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      gap: 20px;
      .following_picture {
        width: 70px;
        height: 70px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .reply {
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    overflow-y: scroll;
    input {
      max-width: 300px;
    }
  }
  .replyy {
    background-color: lightgrey;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .user_picture {
    width: 50px;
    height: 50px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .post_comments {
    max-height: 400px;
    overflow-y: scroll;
  }
  .post_modal {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    border-radius: 10px;
    top: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-color: white;
    padding: 30px;
    height: 600px;
    justify-content: center;
    overflow-y: scroll;
    gap: 20px;
    .post_modal_right {
      max-width: 500px;
      padding: 20px;
      width: 100%;
      background-color: lightgrey;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 992px) {
        margin-top: 60px;
      }
      input {
        height: 32px;
        max-width: 400px;
        width: 100%;
      }
      button {
        height: 35px;
        width: 50px;
      }
    }
    .post_modal_down {
      margin-top: 100px;
      display: flex;
      gap: 20px;
      align-items: center;
      .post_heart {
        .icon {
          cursor: pointer;
          font-size: 24px;
          margin-top: -200px;
        }
      }
      .post_comment {
        .icon {
          cursor: pointer;
          font-size: 24px;
        }
      }
    }
    .post {
      max-width: 600px;
      width: 100%;
      max-height: 400px;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        height: 100%;
      }
    }
  }
  .modal {
    position: fixed;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    top: 100px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    .add_button {
      background-color: #3e6c7b;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
    }

    .file-input-text {
      margin-top: 50px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
      flex-grow: 1;
    }

    .file-input-container {
      position: relative;
    }

    .input-file {
      display: none;
    }

    .file-label {
      background-color: #3e6c7b;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      transition: 0.5s;
    }

    .file-label:hover {
      background-color: #7ba1ad;
    }

    /* Additional styles for selected file display */
    p {
      margin-top: 10px;
    }
  }
  .container {
    .user_profile {
      .user_profile_up {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        .user_profile_back_img {
          position: relative;
          width: 100%;
          border-radius: 6px;
          overflow: hidden;
          height: 400px;
          img {
            width: 100%;
            height: 100%;
          }
          .backGroundSettings {
            width: 400px;
            height: 50px;
            top: 40px;
            right: 40px;
            background-color: whitesmoke;
            padding: 10px;
            position: absolute;
            input {
              max-width: 300px;
              width: 100%;
              height: 32px;
            }
            button {
              height: 32px;
              margin-left: 10px;
              color: white;
            }
          }
          .user_profile_picture {
            position: absolute;
            width: 130px;
            height: 130px;
            border-radius: 50%;
            overflow: hidden;
            border: 3px solid white;
            left: 30px;
            bottom: 80px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .user_profile_up_about {
          li:first-child {
            font-size: 22px;
            font-weight: 600;
          }
          padding: 15px 50px;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          gap: 50px;
          background-color: white;
          li {
            sup {
              padding: 1px 12px;
              border: 1px solid gray;
              border-radius: 4px;
            }
          }
        }
      }
      .user_profile_down {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        .posts {
          .posts_length {
            width: 100%;
            border-radius: 4px;
            background-color: white;
            padding: 20px;
            margin-bottom: 20px;
            display: flex;
            gap: 50px;
            align-items: center;
            .add {
              padding: 10px 12px;
              background-color: #3e6c7b;
              color: whitesmoke;
              border-radius: 6px;
              cursor: pointer;
            }
            p {
              font-size: 18px;
            }
            sup {
              background-color: #3e6c7b;
              border-radius: 50%;
              padding: 3px 8px;
              color: white;
            }
          }
        }
        .post-cards {
          border-radius: 4px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          background-color: white;
          padding: 20px;
          gap: 10px;
          @media (max-width: 767px) {
            grid-template-columns: 1fr 1fr 1fr;
          }
          @media (max-width: 545px) {
            grid-template-columns: 1fr 1fr;
          }
          @media (max-width: 463px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
          }
          .post_card {
            transition: 0.5s;
            position: relative;
            cursor: pointer;
            position: relative;
            &:hover .comment {
              transform: translateY(-50%);
              opacity: 1;
            }
            &:hover .heart {
              transform: translateY(-40%) translateX(-160%);
              opacity: 1;
            }
            &:hover {
              &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                border-radius: 4px;
                background-color: rgba(0, 0, 0, 0.222);
              }
            }
            .heart {
              .icon {
                color: white;
                font-size: 22px;
              }
              p {
                color: white;
              }
              transition: 0.5s;
              position: absolute;
              display: flex;
              top: 50%;
              left: 50%;
              opacity: 0;
              transform: translateY(500%) translateX(-160%);
            }
            .comment {
              display: flex;
              p {
                color: white;
              }
              .icon {
                color: white;
                font-size: 22px;
                margin-right: 4px;
              }
              transition: 0.5s;
              position: absolute;
              opacity: 0;
              top: 50%;
              left: 50%;
              transform: translateY(-500%);
            }
            .post {
              width: 200px;
              height: 200px;
              gap: 6px;
              overflow: hidden;
              border-radius: 6px;
              img {
                width: 100%;
                height: 100%;
              }
              video {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

// Reponsive=-=-==-==--=
@media (max-width: 992px) {
  #user_profile {
    .container {
      .user_profile {
        .user_profile_up {
          .user_profile_back_img {
            img {
            }
            .user_profile_picture {
              width: 100px;
              height: 100px;
              bottom: 50px;
            }
          }
        }
        .user_profile_up_about {
        }
      }
      .user_profile_down {
        .posts {
          .posts_length {
            p {
            }
            sup {
            }
          }
        }
        .post-cards {
          display: none;

          .post_card {
          }
        }
        .post {
          img {
          }
        }
      }
    }
  }
}

@media (max-width: 545px) {
  #user_profile {
    .container {
      .user_profile {
        .user_profile_up {
          .user_profile_back_img {
            img {
            }
            .user_profile_picture {
              width: 70px;
              height: 70px;
              bottom: 10px;
            }
          }
        }
        .user_profile_up_about {
        }
      }
      .user_profile_down {
        .posts {
          .posts_length {
            p {
            }
            sup {
            }
          }
        }
        .post-cards {
          .post_card {
          }
        }
        .post {
          img {
          }
        }
      }
    }
  }
}
.swiper {
  top: 50%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);
}

input {
  padding-left: 10px;
}
