#followings_photos {
  padding: 0px 30px;
  margin-top: 100px;
  .comment_modal {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    height: 600px;
    background-color: white;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-family: "Salsa", cursive;
        font-size: 40px;
        margin-bottom: 30px;
      }
      .close {
        cursor: pointer;
        margin-bottom: 30px;
      }
    }
    .user_profile_picture {
      width: 50px;
      height: 50px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .modal_center {
      max-height: 400px;
      overflow-y: scroll;
      .user_comment {
        padding: 10px;
        margin-top: 20px;
        border-radius: 10px;
        min-height: 30px;
        background-color: rgb(226, 222, 222);
      }
    }
    .modal_end {
      display: flex;
      margin-top: 20px;
      textarea {
        max-width: 500px;
        width: 100%;
      }
      button {
        padding: 10px 12px;
        border: none;
        background-color: black;
        color: white;
        transition: 0.5s;
        &:hover {
          background-color: rgb(68, 68, 68);
          color: rgb(255, 255, 255);
        }
      }
    }
    .comments {
      margin-bottom: 20px;
      gap: 20px;
      position: relative;
      .user_comment {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .container {
    display: flex;
    justify-content: center;
    gap: 25px;
    .followings_photos {
      .card {
        background-color: white;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        margin-bottom: 50px;
        .card_down {
          padding: 20px;
          .card_like_comment_share {
            display: flex;
            align-items: center;
            gap: 30px;
            .like {
              display: flex;
              font-size: 30px;
              align-items: center;
              .likes-count {
                span {
                  font-size: 12px;
                }
              }
              .post-like {
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
            .comment {
              font-size: 24px;
              margin-top: 3px;
            }
            .share {
              font-size: 24px;
            }
          }
        }
        .card_center {
          border-bottom: 1px solid lightgrey;
          padding: 15px;
          .card_post {
            width: 100%;
            max-height: 400px;
            overflow: hidden;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        .card_up {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 20px;
          .card_up_name {
            span {
              font-size: 18px;
              font-weight: 700;
            }
          }
          .card_up_profile_img {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            img {
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.reply_modal {
  max-width: 500px;
  width: 100%;
  height: 400px;
  background-color: gray;
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
// Responsivlik=-=-=--=--=-=-=--=-=-
@media (max-width: 1289px) {
  #followings_photos {
    .container {
      justify-content: center;
      gap: 20px;
      max-width: 1050px;
    }
    .followings_photos {
      .card {
        margin-bottom: 30px;
        max-width: 450px;
        .card_center {
          .card_post {
            max-height: 300px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  #followings_photos {
    .container {
      justify-content: center;
      gap: 20px;
    }
    .followings_photos {
      .card {
        margin-bottom: 30px;
        max-width: 450px;
        .card_center {
          .card_post {
            max-height: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 757px) {
  #followings_photos {
    .followings_photos {
      .card {
        margin-bottom: 20px;
        max-width: 360px;
        .card_center {
          .card_post {
            max-height: 220px;
          }
        }
      }
    }
  }
}
@media (max-width: 545px) {
  #followings_photos {
    .container {
      display: block;
    }
    .followings_photos {
      .card {
        margin-bottom: 15px;
        max-width: 320px;
        .card_center {
          .card_post {
            max-height: 200px;
          }
        }
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination div {
  margin: 0 5px;
  cursor: pointer;
}

.pagination div.active {
  font-weight: bold;
}
