#followings_photos {
  padding: 0px 30px;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .followings_photos {
      .card {
        background-color: white;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        margin-bottom: 50px;
        .card_down {
          padding: 20px;
          .card_like_comment_share {
            display: flex;
            align-items: center;
            gap: 30px;
            .like {
              display: flex;
              font-size: 30px;
              align-items: center;
              .likes-count{
                span{
                  font-size: 12px;
                }
              }
              .post-like{
                transition: 0.5s;
                cursor: pointer;
                &:hover{
                  transform: scale(1.2);
                }
              }
            }
            .comment {
              font-size: 24px;
            }
            .share {
              font-size: 24px;
            }
          }
        }
        .card_center {
          border-bottom: 1px solid lightgrey;
          padding: 15px;
          .card_post {
            width: 100%;
            max-height: 400px;
            overflow: hidden;
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        .card_up {
          display: flex;
          align-items: center;
          gap: 20px;
          padding: 20px;
          .card_up_name {
            span {
              font-size: 18px;
              font-weight: 700;
            }
          }
          .card_up_profile_img {
            width: 50px;
            height: 50px;
            overflow: hidden;
            border-radius: 50%;
            img {
              object-fit: cover;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
// Responsivlik=-=-=--=--=-=-=--=-=-
@media (max-width: 992px) {
  #followings_photos {
    .container{
      justify-content: center;
      gap: 20px;
    }
    .followings_photos {
      .card {
        margin-bottom: 30px;
        max-width: 450px;
        .card_center {
          .card_post {
            max-height: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 757px) {
  #followings_photos {
    .followings_photos {
      .card {
        margin-bottom: 20px;
        max-width: 360px;
        .card_center {
          .card_post {
            max-height: 220px;
          }
        }
      }
    }
  }
}
@media (max-width: 545px) {
  #followings_photos {
    .followings_photos {
      .card {
        margin-bottom: 15px;
        max-width: 320px;
        .card_center {
          .card_post {
            max-height: 200px;
          }
        }
      }
    }
  }
}
