.settings {
  background-size: cover;
  margin-top: 100px;
  padding: 0px 100px;
  padding-top: 30px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  height: 100vh;
  backdrop-filter: blur(10px); /* Adjust the blur amount as needed */
  background-color: rgba(255, 255, 255, 0.065);
  .modal {
    position: fixed;
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    top: 100px;
    height: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    .add_button {
      background-color: #3e6c7b;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.5s;
      &:hover{
        background-color: #7ba1ad;
      }
    }

    .file-input-text {
      margin-top: 50px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      margin-right: 10px;
      flex-grow: 1;
    }

    .file-input-container {
      position: relative;
    }

    .input-file {
      display: none;
    }

    .file-label {
      background-color: #3e6c7b;
      color: #fff;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
      display: inline-block;
      transition: 0.5s;
    }

    .file-label:hover {
      background-color: #7ba1ad;
    }
    p {
      margin-top: 10px;
    }
  }
  .user_settings {
    .user_name_profile_picture {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap-reverse;
      .edit {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        input {
          padding-left: 10px;
        }
        button {
          padding: 5px 12px;
          border: none;
          background-color: #3e6c7b;
          color: white;
          transition: 0.5s;
          border-radius: 6px;
          &:hover {
            border: 1px solid #30305b;
            background-color: white;
            color: #30305b;
          }
        }
        p {
          font-family: "Salsa", cursive;
          font-size: 24px;
        }
      }
      .user_settings_profile_picture {
        height: 400px;
        overflow: hidden;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
